NEXT_PUBLIC_SUPABASE_URL=https://hsauayepegiegpgazocv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhzYXVheWVwZWdpZWdwZ2F6b2N2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0MDI3NjYsImV4cCI6MjA4OTk3ODc2Nn0.HLK1sfuIHlGAuzNeUV4GyGmFbRHCHePe9oiwMg1F_yM
